#global_actions {
	padding: 1%;
}

#global_actions a:first-child {
	color: green;	
}

#file_content {
	background: #ccc;
	border-radius: 10px;
	width: 80%;
	padding: 1.5%;
	margin: 1% 2% 1% 2%;
}

	#file_content .row {
		padding-bottom: .5%;
	}

		#file_content .row a:hover {
			font-weight: 550;
			text-decoration: none;
		}

	#file_content .actions {
		float: right;
		margin-right: 5%;
	}

		#file_content .actions a:first-child {
			color: #ff1111;
			font-weight: 600;
		}
