<% @products.each do |category, products| %>
  <h3><%= category.name %></h3>
  <div id="products">
    <% products.each do |product| %>
    <div class="product">
      <h4><%= link_to product.name, product_path(product.permalink) %></h4>
      <p><%= product.short_description %></p>
      <p><b>Price:</b> <%= number_to_currency product.price %></p>
    </div>
    <% end %>
  </div>
<% end %>
